version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: CheckyDB
    ports:
      - "${DB_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS} 
      MYSQL_DATABASE: ${DB_NAME}      
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    env_file:
      - ./.env

volumes:
  db_data:
